<%!-- ********************** FB JS SDK Login Button **************************** --%>

<script>window.app_id="<%= assigns[:app_id] %>";</script>
<div id="fb-root"></div>

<button id="fbhook" type="button"> 
  <img width="350" alt="fb login" style="margin-left: 120px;"
    src="https://scontent-cdt1-1.xx.fbcdn.net/v/t39.2365-6/294967112_614766366879300_4791806768823542705_n.png?_nc_cat=105&amp;ccb=1-7&amp;_nc_sid=ad8a9d&amp;_nc_ohc=8sb1L4zz4BUAX_EvUKb&amp;_nc_ht=scontent-cdt1-1.xx&amp;oh=00_AT9npEF786Ao623QdsCGbrNq9s4R9v1xzFeX5GkOkAbT6g&amp;oe=6354DA64"
  />
</button>