<section class="phx-hero">
    <p>To get started, login to your favorite Account:</p>

<%!-- ********************* SSR FACEBOOK BUTTON ************************ --%>
    <a class="" href={@oauth_facebook_url}>
        <img
        src={Routes.static_path(@conn, "/images/fb_login.webp")}
        />
    </a>
</section>
